@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}


.slideshow-container {
  margin-top: 10px; /* laisse de la place pour le header */
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.mySlides {
  width: 100%;
  height: 100%;
}

.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fade {
  animation: fade 2s ease-in-out;
}

@keyframes fade {
  from { opacity: 0.4; }
  to { opacity: 1; }
}
@keyframes fade {
  from { opacity: 0.4; }
  to { opacity: 1; }
}
.section{
    padding: 4.5rem 0 1.5rem;
}
.movies-container {
  padding: 40px;
  background-color: #04000b;
}

.movies h2 {
  text-align: left;
  margin-left: 3%;
  align-content: last baseline;
  align-self: last baseline;
  text-align: left;
  margin-bottom: 20px;
  font-size: 37px;
  font-family: fantasy;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.box {
  background-color: #9d0d0d;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  background: rgba(247, 27, 27, 0.15); 
  border-radius: 16px;
  padding: 1rem;
  backdrop-filter: blur(10px);           
  -webkit-backdrop-filter: blur(10px); 
  border: 1px solid rgba(230, 88, 88, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  font-family: Barlow;
  font-size: 15pt;
}

.movies-container a{
  background-color: #9d0d0d;
  font-size: 15px;
  color: #f8d6d6;
  text-decoration: none;
  border-radius: 5px;
  font-family: Barlow;
  padding: 6px 8px;
  text-align: justify;
}

.movies-container p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  margin-top: auto;
  align-self: center;
}

.box img {
  margin-bottom:10px;
  width: 95%;
  height: 290px;         
  object-fit: cover;     
  border-radius: 8px;
}