<div class="slideshow-container">
  <div *ngFor="let slide of slides; let i = index" 
       class="mySlides fade"
       [style.display]="currentIndex === i ? 'block' : 'none'">
    <img [src]="slide" alt="slide image">
  </div>
</div>
    <section class="movies" id="movies">
        <br>
        <br>
        <h2>SUGGESTED FOR YOU</h2> 
            <div class="movies-container">
           
                <div class="box">
                    <div class="box-img">
                        <img src="assets/ashlad.jpg">
                    </div>
                    <h3>ashlad</h3>
                    <span>110 min | Action</span>
                    <br>
                    <br>
                    <a href="ashlad.html" class="btn">LEARN MORE</a>
                    <br>
                    <br>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/maze.jpg">
                    </div>
                    <h3>The Maze Runer</h3>
                    <span>120 min | Aventure</span>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/twilight.jpg">
                    </div>
                    <h3>Twilight</h3>
                    <span>120 min | Horro</span>
                    <br>
                    <br> 
                    <a href="#" class="btn">LEARN MORE</a> 
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/monsters.jpg">
                    </div>
                    <h3>Monsters</h3>
                    <span>120 min | comedy</span>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/co.jpg">
                    </div>
                    <h3>Coco</h3>
                    <span>120 min | Drama</span>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>
                </div>
            
                <div class="box">
                    <div class="box-img">
                        <img src="assets/u.jpg">
                    </div>
                    <h3>UP</h3>
                    <p><span>5 Seasons | Crime, Drama</span></p>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MOREw</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/jack.jpg">
                    </div>
                    <h3>Jack The Glant Slayer</h3>
                    <p><span>8 Seasons | Fantasy, Action</span></p>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/ratatouille.jpg">
                    </div>
                    <h3>Ratatouille</h3>
                    <p><span>1 Season | Thriller, Drama</span></p>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>  
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/avengers.jpg">
                    </div>
                    <h3>Avengers</h3>
                    <p><span>4 Seasons | Sci-Fi, Mystery</span></p>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/breaking.jpg">
                    </div>
                    <h3>Breaking Bad</h3>
                    <p><span>2 Season | Horror, Drama</span></p>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>
                    <br>
                    <br>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/crown.jpg">
                    </div>
                    <h3>Crown</h3>
                    <span>110 min | Action</span>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>
                    <br>
                    <br>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/dark.jpg">
                    </div>
                    <h3>Dark</h3>
                    <span>120 min | Aventure</span>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/witcher.jpg">
                    </div>
                    <h3>The Witcher</h3>
                    <span>120 min | Horro</span>
                    <br>
                    <br> 
                    <a href="#" class="btn">LEARN MORE</a> 
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/dead.jpg">
                    </div>
                    <h3>The Walking Dead:Dead City</h3>
                    <span>120 min | comedy</span>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/westworld.jpg">
                    </div>
                    <h3>Westworld</h3>
                    <span>120 min | Drama</span>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>
                </div>
            
                <div class="box">
                    <div class="box-img">
                        <img src="assets/mandalorian.jpg">
                    </div>
                    <h3>UP</h3>
                    <p><span>5 Seasons | Crime, Drama</span></p>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MOREw</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/haunting.jpg">
                    </div>
                    <h3>Haunting</h3>
                    <p><span>8 Seasons | Fantasy, Action</span></p>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/Crawl.jpg">
                    </div>
                    <h3>crawl</h3>
                    <p><span>8 Seasons | Fantasy, Action</span></p>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/monster.jpg">
                    </div>
                    <h3>monster house</h3>
                    <p><span>8 Seasons | Fantasy, Action</span></p>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/great.jpg">
                    </div>
                    <h3>the great wall</h3>
                    <p><span>8 Seasons | Fantasy, Action</span></p>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>
                </div>
            </div>
     </section>
        <section class="f">
            <a href="#" class="logo">
                <i class="fa fa-film" aria-hidden="true"></i>MOVIES
            </a>
            <div class="s">
                <a><i class="bx bxl-facebook"></i></a>
                <a><i class="bx bxl-twitter"></i></a>
                <a><i class="bx bxl-instagram" ></i></a>
                <a><i class="bx bxl-youtube" ></i></a>
            </div>
        </section>
  