<header>
                
            <a href="#" class="logo">
                <i class="fa fa-film" aria-hidden="true"></i>Movies
            </a>
            <div class="bx bx-menu" id="menu-icon"></div>
            <ul class="navbar">
                <li><a href="/projet" >Home</a></li>
                <li><a href="/movies" >Movies</a></li>
                <li><a href="/tv-show">Tv Shows</a></li>
                <li><a href="/most" class="most">Most Watched</a></li>
            </ul>
            <div class="search-container">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" placeholder="Rechercher un film ou une série...">
    </div>

        
            <a href="/sign-in" class="btn">Sign In</a>   
        </header>