 <header>
    <a href="#" class="logo">
        <i class="fa fa-film" aria-hidden="true"></i>MOVIES
    </a>
    <div class="bx bx-menu" id="menu-icon"></div>
    <ul class="navbar">
         <li><a routerLink="/projet" class="home">Home</a></li>
                <li><a routerLink="/movies/" >Movies</a></li>
                <li><a routerLink="/tv-show">Tv Shows</a></li>
                <li><a routerLink="/most">Most Watched</a></li>
    </ul>
    <a href="sign in.html" class="btn">Sign In</a>   
  </header>
  <br>
  <br>
  <br>
  <br>
 <div class="movie-details">
  <img src="the punishement.jpg" alt="Spider-Man: Far From Home" class="poster">
  <div class="description">
    <h2>The Roundup: No Way Out </h2>
    <p>The Roundup: No Way Out (2023)

Directed by Lee Sang-yong | Genre: Action, Crime, Thriller

Detective Ma Seok-do returns in the third installment of The Outlaws series, bringing his trademark brute-force justice back to the streets. After transferring to the metropolitan investigation unit, Ma is tasked with taking down an emerging drug cartel flooding the city with a deadly new synthetic drug. But things take a darker turn when he uncovers a web of corruption that reaches deep into law enforcement and high society.

Facing ruthless criminals, powerful gang leaders, and crooked officials, Ma doesn’t back down. With his fists doing most of the talking, he barrels through the chaos with unstoppable energy and determination. This time, the mission is more dangerous than ever, and there’s no way out.

Packed with brutal fight scenes, sharp dialogue, and edge-of-your-seat tension, The Roundup: No Way Out is a gritty, fast-paced action thriller that continues to prove why Detective Ma is one of Korean cinema’s most iconic heroes.
</p>
    <br>
    <a href="https://cimaclub.org/%d9%81%d9%8a%d9%84%d9%85-the-roundup-punishment-2024-%d9%85%d8%aa%d8%b1%d8%ac%d9%85-%d8%a7%d9%88%d9%86-%d9%84%d8%a7%d9%8a%d9%86/watch/ ">Watch Now</a>
    <a href="#" class="movie-link">Watch Trailer</a>
  </div>
</div>