@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 0.5rem;
    background: #020307;
}
html::-webkit-scrollbar-thumb{
    background: #ff2c1f;
    border-radius: 5rem;
}

body{
    background: #020307;
    color: #fff;
    
}
.section{
    padding: 4.5rem 0 1.5rem;
}
header{
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s;
   

}
header.shadow{
    background: #930c0cf5;
    box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}
header.shadow .navbar a {
    color: #fff;
}
header.shadow .logo{
    color: #fff;
}
.logo{
    font-size: 1.1rem;
    font-weight: 600;
    color:#fff;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.logo .fa{
    font-size: 24px;
    color: #ff2c1f;

}
.navbar{
    display: flex;
    align-items: center;
    column-gap: 5rem;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}
.navbar a::after{
    content: "";
    width: 0;
    height: 2px;
    background: #ff2c1f;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;
}
.navbar a:hover::after,.navbar .home::after{
    width: 100%;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
}
.btn{
    padding: 0.5rem 1.3rem;
    background: #ff2c1f;
    color: #fff;
    font-size: 400;
    border-radius: 0.5rem;
    position: relative;
    z-index: 1;
  
}
.btn:hover {
    background: #fa1216;
}

.container{
    width: 100%;
    min-height: 640px;
    position: relative;
    display: flex;
    align-items: center;
    background: rgb(2,3,7,0.4);
}

.container img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.text{
    z-index: 1000;
    padding: 0 150px;
}
.text span{
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    
}
.text h1{
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.play{
    position: absolute;
    right: 4rem;
    bottom: 10%;
}
.play .bx{
    background: #fff;
    padding: 10px;
    font-size: 2rem;
    border-radius: 50%;
    border: 4px solid rgb(2, 3, 7,0.4);
    color: #ff2c1f;
}
.play .bx:hover{
    background: #ff2c1f;
    color: #fff;
    transition: 0.2 all linear;
}



.m{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid #ff2c1f;
    margin-top: 60px;
    
}
.movies-container{
    max-width: 968px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,auto));
    gap: 1rem;
    margin-top: 2rem ;
}
.box .box-img{
    width: 100%;
    height: 270px;
}
.box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box .box-img img:hover{
    transform: translateY(-10px);
    transition: 0.2s all linear;
}
.box h3{
    font-size: 0.9rem;
    font-weight: 500;
}
.box span{
    font-size: 13px;

}
.b{
    padding: 0.1rem 0.2rem;
    background: #ff2c1f;
    color: #fff;
    font-size: 100;
    border-radius: 0.5rem;
    margin-left: 25%;
}
.b:hover {
    background: #fa1216;
}
.f{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
   
}
.s{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    

}
.s .bx{
    background: #fff;
    padding: 2px;
    font-size:  2rem;
    border-radius: 50%;
    border: 4px solid rgd(2, 3,7,0.4);
    color: #ff2c1f;
    margin-bottom: 8px;

}
.s .bx:hover{
    background: #ff2c1f;
    color: #fff;
    transition: 0.2s all linear;
}
.car{
    padding: 20px;
    text-align: center;
    color: #fff;
}


.search-container {
    display: flex;
    align-items: center;
    background-color: #111;
    padding: 6px 12px;
    border-radius: 20px;
    margin-left: 1rem;
}

.search-container i {
    color: #ff2c1f;
    margin-right: 8px;
    font-size: 1rem;
}


.search-container input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    width: 180px;
    font-size: 0.9rem;
}


.search-container input::placeholder {
    color: #aaa;
}

