<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

        <section class="home swiper" id="home">
            <div class="swiper-wrapper">
                <div class="swiper-slide container">
                    <img src="assets/spider.avif" >
                    <div class="text">
                        <span>Marvel Universe</span>
                        <h1>Spider-Man:<br>Far from Home<br></h1>
                        <a href="#" class="btn">Watch Now</a>
                        <a href="#" class="play">
                            <i class="bx bx-play"></i>
                        </a>
                    </div>
                </div>
            </div>
              <div class="swiper-pagination"></div>
        </section>
        <section class="movies" id="movies">
            <div class="m">
                <h2 class="heading">Suggested for you</h2>
                <a href="assets/movies page.html" class="btn">Watch Movies</a>
            </div>
            <div class="movies-container">
                <div class="box">
                    <div class="box-img">
                        <img src="assets/mad max.png">
                    </div>
                    <h3>Mad max</h3>
                    <span>120 min | Action</span>
                    <br>
                    <br>
                    <a href="mad.html" class="btn">LEARN MORE</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/elona1.jpg">
                    </div>
                    <h3>Elona</h3>
                    <span>120 min | Aventure</span>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/Horro.jpg">
                    </div>
                    <h3>Wrong turn</h3>
                    <span>120 min | Horro</span>
                    <br>
                    <br> 
                    <a href="#" class="btn">LEARN MORE</a> 
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/comedy.jpg">
                    </div>
                    <h3>Home alone</h3>
                    <span>120 min | comedy</span>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/manchester.jpg">
                    </div>
                    <h3>manchester by the sea</h3>
                    <span>120 min | Drama</span>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>
                </div>
            </div>
        </section>
        <section class="Tv" id="Tv">
            <div class="m">
                <h2 class="heading">Suggested for you</h2>
                <a href="tv shows.html" class="btn">WATCH Shows</a>
            </div>
            <div class="movies-container" id="shows">
                <div class="box">
                    <div class="box-img">
                        <img src="assets/money.webp">
                    </div>
                    <h3>Money Heist</h3>
                    <p><span>5 Seasons | Crime, Drama</span></p>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/game.jpg">
                    </div>
                    <h3>Game of Thrones</h3>
                    <p><span>8 Seasons | Fantasy, Action</span></p>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/season.jpg">
                    </div>
                    <h3>Squid Game</h3>
                    <p><span>1 Season | Thriller, Drama</span></p>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>  
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/stranger.jpg">
                    </div>
                    <h3>Stranger Things</h3>
                    <p><span>4 Seasons | Sci-Fi, Mystery</span></p>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/wednesday.jpg">
                    </div>
                    <h3>Wednesday</h3>
                    <p><span>2 Season | Horror, Drama</span></p>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>
                </div>
            </div>
        </section>
         <section class="most" id="most">
            <div class="m">
                <h2 class="heading">Suggested for you</h2>
                <a href="most.html" class="btn">WATCH Most Watched</a>
            </div>
            <div class="movies-container" id="shows">
                <div class="box">
                    <div class="box-img">
                        <img src="assets/brid.jpg">
                    </div>
                    <h3>Bird Box</h3>
                    <p><span>100 min | Drama</span></p>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/The_Irishman.jpg">
                    </div>
                    <h3>The Irishman</h3>
                    <p><span>120 min | Action</span></p>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/underground.jpg">
                    </div>
                    <h3>Underground</h3>
                    <p><span>105 min | Thriller</span></p>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>  
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/pursuit.jpg">
                    </div>
                    <h3>he pursuit of happiness</h3>
                    <p><span>120 min | Mystery</span></p>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="assets/drak.jpg">
                    </div>
                    <h3>The Drak Kinight</h3>
                    <p><span>125 min | Horror</span></p>
                    <br>
                    <br>
                    <a href="#" class="btn">LEARN MORE</a>
                </div>
            </div>
        </section>
        <section class="f">
            <a href="#" class="logo">
                <i class="fa fa-film" aria-hidden="true"></i>MOVIES
            </a>
            <div class="s">
                <a><i class="bx bxl-facebook"></i></a>
                <a><i class="bx bxl-twitter"></i></a>
                <a><i class="bx bxl-instagram" ></i></a>
                <a><i class="bx bxl-youtube" ></i></a>
            </div>
