<div class="slideshow-container">
  <div *ngFor="let slide of slides; let i = index" 
       class="mySlides fade"
       [style.display]="currentIndex === i ? 'block' : 'none'">
    <img [src]="slide" alt="slide image">
  </div>
</div>

<!-- Shows -->
<section class="shows">
  <h2>POPULAR SHOWS</h2>
        <Br>
        <Br>
        <div class="show-grid">
          <div class="show-card">
            <img src="assets/1.jpg" alt="Adolescence">
            <p>Adolescence</p>
            <br>
            <br>
            <a href="#" class="movie-link">LEARN MORE</a>
          </div>
          <div class="show-card">
            <img src="assets/2.jpg" alt="dark">
            <p>DARK</p>
            <br>
            <br>
            <a href="#" class="movie-link">LEARN MORE</a>
          </div>
          <div class="show-card">
            <img src="assets/3.jpg" alt="Euphoria">
            <p>Euphoria</p>
            <br>
            <br>
            <a href="#" class="movie-link">LEARN MORE</a>
          </div>
          <div class="show-card">
            <img src="assets/4.jpg" alt="After life">
            <p>After Life</p>
            <br>
            <br>
            <a href="#" class="movie-link">LEARN MORE</a>
          </div>
          <div class="show-card">
            <img src="assets/5.jpg" alt="house of cards">
            <p>House of Cards</p>
            <br>
            <br>
            <a href="#" class="movie-link">LEARN MORE</a>
          </div>
        </div>
    </section>
    <section class="shows">
        <div class="show-grid">
          <div class="show-card">
            <img src="assets/6.jpg" alt="the last of us">
            <p>the last of us</p>
            <br>
            <br>
            <a href="#" class="movie-link">LEARN MORE</a>
          </div>
          <div class="show-card">
            <img src="assets/7.jpg" alt="Squide game">
            <p>Squide game</p>
            <br>
            <br>
            <a href="#" class="movie-link">LEARN MORE</a>
          </div>
          <div class="show-card">
            <img src="assets/8.jpg" alt="Carg0">
            <p>Cargo</p>
            <br>
            <br>
            <a href="#" class="movie-link">LEARN MORE</a>
          </div>
          <div class="show-card">
            <img src="assets/9.jpg" alt="the 100">
            <p>The 100</p>
            <br>
            <br>
            <a href="#" class="movie-link">LEARN MORE</a>
          </div>
          <div class="show-card">
            <img src="assets/10.jpg" alt="Ghosts">
            <p>Ghosts</p>
            <br>
            <br>
            <a href="#" class="movie-link">LEARN MORE</a>
          </div>
        </div>
    </section>
    <section class="shows" id="movie">
        <div class="show-grid">
          <div class="show-card">
            <img src="assets/11.jpg" alt="orange is the new black">
            <p>orange is the new black</p>
            <br>
            <a href="#" class="movie-link">LEARN MORE</a>
          </div>
          <div class="show-card">
            <img src="assets/12.jpg" alt="the life list">
            <p>the life list</p>
            <br>
            <br>
            <a href="#" class="movie-link">LEARN MORE</a>
          </div>
          <div class="show-card">
            <img src="assets/13.jpg" alt="OZARK">
            <p>OZARK</p>
            <br>
            <br>
            <a href="#" class="movie-link">LEARN MORE</a>
          </div>
          <div class="show-card">
            <img src="assets/14.jpg" alt="ready or not">
            <p>Ready or not</p>
            <br>
            <br>
            <a href="#" class="movie-link">LEARN MORE</a>
          </div>
          <div class="show-card">
            <img src="assets/15.jpg" alt="Overdrive">
            <p>Overdrive</p>
            <br>
            <br>
            <a href="#" class="movie-link">LEARN MORE</a>
          </div>
        </div>
    </section>
    <section class="shows" id="movie">
        <div class="show-grid">
          <div class="show-card">
            <img src="assets/16.jpg" alt="Sweet Home">
            <p>Sweet Home</p>
            <br>
            <br>
            <a href="#" class="movie-link">LEARN MORE</a>
          </div>
          <div class="show-card">
            <img src="assets/17.jpg" alt="my name">
            <p>My Name</p>
            <br>
            <br>
            <a href="#" class="movie-link">LEARN MORE</a>
          </div>
          <div class="show-card">
            <img src="assets/18.jpg" alt="Mouse">
            <p>Mouse</p>
            <br>
            <br>
            <a href="#" class="movie-link">LEARN MORE</a>
          </div>
          <div class="show-card">
            <img src="assets/19.jpg" alt="the devil judge">
            <p>the devil judge</p>
            <br>
            <br>
            <a href="#" class="movie-link">LEARN MORE</a>
          </div>
          <div class="show-card">
            <img src="assets/20.jpg" alt="light Shop">
            <p>Light Shop</p>
            <br>
            <br>
            <a href="#" class="movie-link">LEARN MORE</a>
          </div>
        </div>
    </section>
