.slideshow-container {
  width: 100%;
  min-height: 400px;
  position: relative;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.fade {
  animation: fade 1.5s ease-in-out;
}

@keyframes fade {
  from { opacity: 0.4; }
  to { opacity: 1; }
}

/* Shows section */
.shows {
  padding: 40px;
}

.shows h2 {
  margin-bottom: 20px;
  font-size: 37px;
  font-family: fantasy;
}

.show-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.show-card {
  background: rgba(247, 27, 27, 0.15);
  border-radius: 16px;
  padding: 1rem;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(230, 88, 88, 0.3);
  text-align: center;
}

.show-card img {
  width: 100%;
  height: 290px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.show-card p {
  font-size: 17px;
  margin-bottom: 10px;
}

.movie-link {
  display: inline-block;
  padding: 6px 8px;
  background-color: #9d0d0d;
  color: #f8d6d6;
  text-decoration: none;
  border-radius: 5px;
}