.slideshow-container {
  margin-top: 10px; /* laisse de la place pour le header */
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.mySlides {
  width: 100%;
  height: 100%;
}

.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fade {
  animation: fade 2s ease-in-out;
}

@keyframes fade {
  from { opacity: 0.4; }
  to { opacity: 1; }
}

.movies {
  padding: 40px;
}

.a:hover{
    background: #fa1216;
}
.movies h2 {
  text-align: left;
  align-content: last baseline;
  align-self: last baseline;
  text-align: left;
  margin-bottom: 20px;
  font-size: 37px;
  font-family: fantasy;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.movie-card {
  background-color: #9d0d0d;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  background: rgba(247, 27, 27, 0.15); 
  border-radius: 16px;
  padding: 1rem;
  backdrop-filter: blur(10px);           
  -webkit-backdrop-filter: blur(10px); 
  border: 1px solid rgba(230, 88, 88, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  font-family: Barlow;
  font-size: 15pt;
}

.movies a{
  background-color: #9d0d0d;
  font-size: 15px;
  color: #f8d6d6;
  text-decoration: none;
  border-radius: 5px;
  font-family: Barlow;
  padding: 6px 8px;
  text-align: justify;
}

.movie p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  margin-top: auto;
  align-self: center;
}

.movie-card img {
  margin-bottom:10px;
  width: 95%;
  height: 290px;         
  object-fit: cover;     
  border-radius: 8px;
}