<div class="slideshow-container">
  <div *ngFor="let slide of slides; let i = index" 
       class="mySlides fade"
       [style.display]="currentIndex === i ? 'block' : 'none'">
    <img [src]="slide" alt="slide image">
  </div>
</div>
<script src="movies pge.js"></script>

<!-- Section POPULAR MOVIES -->
<section class="movies" id="movie">
    <h2>POPULAR MOVIES</h2>
    <div class="movie-grid">
        <div class="movie-card">
            <img src="assets/spider man far fromhome.jpg" alt="Spider-Man: Far From Home">
            <h3>Spider-Man: Far From Home</h3>
            <p>Action | 2:03h</p>
            <a routerLink="/spider-man" class="movie-link">LEARN MORE</a>
        </div>
        <div class="movie-card">
            <img src="assets/the punishement.jpg" alt="The Roundup: No Way Out">
            <h3>The Roundup: No Way Out</h3>
            <p>Action | 1:58h</p>
            <a href="the roundup.html" class="movie-link">LEARN MORE</a>
        </div>
        <div class="movie-card">
            <img src="assets/exaction.jpg" alt="Extraction 2">
            <h3>Extraction 2</h3>
            <p>Action | 1:57h</p>
            <a href="#" class="movie-link">LEARN MORE</a>
        </div>
        <div class="movie-card">
            <img src="assets/venom.jpg" alt="Venom">
            <h3>Venom</h3>
            <p>Action | 1:45h</p>
            <a href="#" class="movie-link">LEARN MORE</a>
        </div>
        <div class="movie-card">
            <img src="assets/jhon.jpeg.jpg" alt="John Wick: Chapter 3 – Parabellum">
            <h3>John Wick: Chapter 3</h3>
            <p>Action | 1:55h</p>
            <a href="#" class="movie-link">LEARN MORE</a>
        </div>
    </div>
</section>

<!-- Section SECOND MOVIES -->
<section class="movies">
    <div class="movie-grid">
        <div class="movie-card">
            <img src="assets/movie 1.jpeg.jpg" alt="Guardians of the Galaxy Vol. 3">
            <h3>Guardians of the Galaxy Vol. 3</h3>
            <a href="#" class="movie-link">LEARN MORE</a>
        </div>
        <div class="movie-card">
            <img src="assets/taken.jpeg.jpg" alt="Taken 3">
            <h3>Taken 3</h3>
            <a href="#" class="movie-link">LEARN MORE</a>
        </div>
        <div class="movie-card">
            <img src="assets/scram.jpg" alt="Scream 5">
            <h3>Scream 5</h3>
            <a href="#" class="movie-link">LEARN MORE</a>
        </div>
        <div class="movie-card">
            <img src="assets/visions.jpg" alt="Visions">
            <h3>Visions</h3>
            <a href="#" class="movie-link">LEARN MORE</a>
        </div>
        <div class="movie-card">
            <img src="assets/jokerr.jpg" alt="Joker - put a smile on">
            <h3>Joker - Put a Smile On</h3>
            <a href="#" class="movie-link">LEARN MORE</a>
        </div>
    </div>
</section>

<!-- Section THIRD MOVIES -->
<section class="movies">
    <div class="movie-grid">
        <div class="movie-card">
            <img src="assets/a.jpg" alt="Titanic">
            <h3>Titanic</h3>
            <a href="#" class="movie-link">LEARN MORE</a>
        </div>
        <div class="movie-card">
            <img src="assets/b.jpg" alt="World War Z">
            <h3>World War Z</h3>
            <a href="#" class="movie-link">LEARN MORE</a>
        </div>
        <div class="movie-card">
            <img src="assets/c.jpg" alt="The Hunger Games">
            <h3>The Hunger Games</h3>
            <a href="#" class="movie-link">LEARN MORE</a>
        </div>
        <div class="movie-card">
            <img src="assets/d.jpg" alt="Divergent">
            <h3>Divergent</h3>
            <a href="#" class="movie-link">LEARN MORE</a>
        </div>
        <div class="movie-card">
            <img src="assets/e.jpg" alt="Bird Box">
            <h3>Bird Box</h3>
            <a href="#" class="movie-link">LEARN MORE</a>
        </div>
    </div>
</section>

<!-- Section FOURTH MOVIES -->
<section class="movies">
    <div class="movie-grid">
        <div class="movie-card">
            <img src="assets/f.jpg" alt="Cruella">
            <h3>Cruella</h3>
            <a href="#" class="movie-link">LEARN MORE</a>
        </div>
        <div class="movie-card">
            <img src="assets/g.jpg" alt="Avatar">
            <h3>Avatar</h3>
            <a href="#" class="movie-link">LEARN MORE</a>
        </div>
        <div class="movie-card">
            <img src="assets/h.jpg" alt="Corpse Bride">
            <h3>Corpse Bride</h3>
            <a href="#" class="movie-link">LEARN MORE</a>
        </div>
        <div class="movie-card">
            <img src="assets/i.jpg" alt="Pirates of The Caribbean">
            <h3>Pirates of The Caribbean</h3>
            <a href="#" class="movie-link">LEARN MORE</a>
        </div>
        <div class="movie-card">
            <img src="assets/k.jpg" alt="Avatar: The Way of Water">
            <h3>Avatar: The Way of Water</h3>
            <a href="/movies/" class="movie-link">LEARN MORE</a>
        </div>
    </div>
</section>
