<header>
    <a href="#" class="logo">
        <i class="fa fa-film" aria-hidden="true"></i>MOVIES
    </a>
    <div class="bx bx-menu" id="menu-icon"></div>
    <ul class="navbar">
          <li><a routerLink="/projet" class="home">Home</a></li>
                <li><a routerLink="/movies/" >Movies</a></li>
                <li><a routerLink="/tv-show">Tv Shows</a></li>
                <li><a routerLink="/most">Most Watched</a></li>
    </ul>
    <a href="sign in.html" class="btn">Sign In</a>   
  </header>
  <br>
  <br>
  <br>
  <br>
 <div class="movie-details">
  <img src="spider man far fromhome.jpg" alt="Spider-Man: Far From Home" class="poster">
  <div class="description">
    <h2>Spider-Man: Far From Home</h2>
    <p>
      Spider-Man: Far From Home (2019)

Directed by Jon Watts | Genre: Action, Adventure, Sci-Fi

In the aftermath of Avengers: Endgame, Peter Parker is still grieving the loss of Tony Stark and struggling with the weight of his responsibilities as Spider-Man. Hoping to escape the pressure, he joins his classmates on a school trip across Europe, eager for a break from superhero duties. But when monstrous elemental creatures begin attacking major cities, Peter is recruited by Nick Fury to step up and face a new global threat.

Teaming up with the mysterious and charismatic Quentin Beck, a supposed multiverse traveler also known as Mysterio, Peter must quickly learn what it means to be a true hero. As the line between illusion and reality begins to blur, he discovers that not everything—or everyone—is what it seems.

Spider-Man: Far From Home is a thrilling mix of action, humor, romance, and teen drama that not only delivers spectacular visual effects but also explores themes of trust, identity, and legacy in a post-Iron Man world.
    </p>
    <br>
    <a href="https://cimaclub.org/%d9%81%d9%8a%d9%84%d9%85-spider-man-homecoming-2017-%d9%85%d8%aa%d8%b1%d8%ac%d9%85/watch/ ">Watch Now</a>
    <a href="#" class="movie-link">Watch Trailer</a>
  </div>
</div>